.viajes__section .viajes__article .article__title {
  text-align: center;
  padding: 0.8rem 0 1.3rem;
  font-size: 2em;
  font-family: "Cormorant SC", serif;
  font-weight: 700;
}

.main__section {
  width: 100vw;
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background: radial-gradient(rgba(5, 7, 12, 0.8), rgba(17, 12, 30, 0.8)), url(../../imgs/colonia1.jpg), center center;
  background-size: cover;
}
@media (max-width: 768px) {
  .main__section {
    font-weight: 600;
    padding: 3rem 4rem;
    height: fit-content;
  }
}
.main__section .main__paragraph {
  color: #efefef;
  width: 50%;
  font-size: 1.3em;
  font-weight: 600;
}
@media (max-width: 768px) {
  .main__section .main__paragraph {
    width: unset;
    font-size: 1em;
    margin-top: 3rem;
  }
}

.menu__a-hover:hover {
  background-color: #333;
  transition: background-color 0.7s ease;
}

.menu__a-focus:focus {
  transform: translateY(3px);
}

.font-cormorant {
  font-family: "Cormorant SC", serif;
}

.gallery__section {
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
  height: fit-content;
  width: 100%;
  grid-gap: 2rem;
  overflow-y: hidden;
}
@media (max-width: 767px) {
  .gallery__section {
    display: none;
  }
}
.gallery__section .gallery__img__container {
  object-fit: cover;
  display: grid;
}
.gallery__section .gallery__img__container:nth-child(1) {
  grid-column-start: span 2;
}
.gallery__section .gallery__img__container:nth-child(4) {
  grid-row-start: span 2;
}
.gallery__section .gallery__img__container:nth-child(5) {
  grid-column-start: span 2;
}
.gallery__section .gallery__img__container:nth-child(6) {
  grid-row-start: span 2;
}
.gallery__section .gallery__img__container:nth-child(7) {
  grid-column-start: span 2;
}
.gallery__section .gallery__img__container:nth-child(8) {
  grid-column-start: span 2;
}
.gallery__section .gallery__img__container:nth-child(9) {
  grid-column-start: span 2;
}
.gallery__section .gallery__img__container .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .gallery__section .gallery__img__container:nth-child(1) {
    grid-column-start: span 1;
  }
  .gallery__section .gallery__img__container:nth-child(2) {
    grid-column-start: span 2;
  }
  .gallery__section .gallery__img__container:nth-child(4) {
    grid-row-start: span 1;
  }
  .gallery__section .gallery__img__container:nth-child(5) {
    grid-column-start: span 1;
  }
  .gallery__section .gallery__img__container:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  .gallery__section .gallery__img__container:nth-child(7) {
    grid-column-start: span 2;
  }
  .gallery__section .gallery__img__container:nth-child(8) {
    grid-column-start: span 1;
  }
  .gallery__section .gallery__img__container:nth-child(9) {
    grid-column-start: span 1;
  }
}

.carousel {
  height: 90vh;
  background-color: #fff;
  display: flex;
}
@media (max-width: 520px) {
  .carousel {
    height: 60vh;
  }
}
@media (max-width: 380px) {
  .carousel {
    height: 40vh;
  }
}

.contact__section .contact__form .contact__textarea:focus, .contact__section .contact__form .contact__input:focus {
  background-color: #efefef;
  transition: background-color 0.5s ease;
}

.contact__section {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact__section .contact__title {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin: 1.3rem auto;
}
.contact__section .contact__form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
@media (max-width: 768px) {
  .contact__section .contact__form {
    width: 80%;
  }
}
.contact__section .contact__form .contact__input {
  outline: none;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid #000;
  margin: 1.25rem 0;
  resize: none;
  height: 2rem;
}
.contact__section .contact__form .contact__textarea {
  outline: none;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid #000;
  margin: 0 0 1rem;
  resize: none;
  height: auto;
}
.avisitar__section .avisitar__article3 .avisitar__paragraph, .avisitar__section .avisitar__article2 .avisitar__paragraph, .avisitar__section .avisitar__article1 .avisitar__paragraph {
  line-height: 1.5rem;
  text-align: justify;
  align-self: center;
  width: 33%;
  padding-inline: 1rem;
}
@media (max-width: 768px) {
  .avisitar__section .avisitar__article3 .avisitar__paragraph, .avisitar__section .avisitar__article2 .avisitar__paragraph, .avisitar__section .avisitar__article1 .avisitar__paragraph {
    padding: 0 0.5rem 1rem;
    line-height: 1.25rem;
    text-align: justify;
    width: unset;
  }
}

.avisitar__section .avisitar__article3 .avisitar__span, .avisitar__section .avisitar__article2 .avisitar__span, .avisitar__section .avisitar__article1 .avisitar__span {
  font-size: 1.5em;
  font-family: "Cormorant SC", serif;
  font-weight: 700;
}

.avisitar__section .avisitar__article3 .avisitar__map, .avisitar__section .avisitar__article2 .avisitar__map, .avisitar__section .avisitar__article1 .avisitar__map {
  border: none;
  border-radius: 10px;
}

.avisitar__section {
  background-color: #333;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "art1 art1 art1" "art2 art2 art2" "art3 art3 art3";
  gap: 2rem;
}
@media (max-width: 768px) {
  .avisitar__section {
    background-color: #333;
    color: #fff;
    gap: 0;
  }
}
.avisitar__section .avisitar__article1 {
  padding-top: 1rem;
  grid-area: art1;
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  flex-direction: row;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .avisitar__section .avisitar__article1 {
    display: flex;
    padding: 1.5rem;
    padding-bottom: 0;
    flex-direction: column;
  }
}
.avisitar__section .avisitar__article1 .avisitar__img {
  object-fit: cover;
  border-radius: 10px;
  display: block;
}
@media (max-width: 768px) {
  .avisitar__section .avisitar__article1 .avisitar__img {
    display: none;
  }
}
.avisitar__section .avisitar__article2 {
  padding-top: 0;
  grid-area: art2;
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  flex-direction: row-reverse;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .avisitar__section .avisitar__article2 {
    display: flex;
    padding: 1.5rem;
    padding-bottom: 0;
    flex-direction: column;
  }
}
.avisitar__section .avisitar__article2 .avisitar__img {
  object-fit: cover;
  border-radius: 10px;
  display: block;
}
@media (max-width: 768px) {
  .avisitar__section .avisitar__article2 .avisitar__img {
    display: none;
  }
}
.avisitar__section .avisitar__article3 {
  padding-top: 0;
  grid-area: art3;
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  flex-direction: row;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .avisitar__section .avisitar__article3 {
    display: flex;
    padding: 1.5rem;
    padding-bottom: 0;
    flex-direction: column;
  }
}
.avisitar__section .avisitar__article3 .avisitar__img {
  object-fit: cover;
  border-radius: 10px;
  display: block;
}
@media (max-width: 768px) {
  .avisitar__section .avisitar__article3 .avisitar__img {
    display: none;
  }
}
.viajes__title {
  display: block;
  text-align: center;
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin: 1.5rem 0;
}

.viajes__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
  padding-bottom: 5rem;
  justify-content: center;
}
@media (max-width: 768px) {
  .viajes__section {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-bottom: 3rem;
    height: fit-content;
  }
}
.viajes__section .viajes__article {
  margin-top: 2.5rem;
  margin-inline: 2rem;
  background-color: #efefef;
  border-radius: 4px;
  box-shadow: 0 0 5px #777;
  width: 80%;
  justify-self: center;
}
@media (max-width: 768px) {
  .viajes__section .viajes__article {
    width: 60%;
    height: fit-content;
  }
}
.viajes__section .viajes__article:hover {
  cursor: default;
  background-color: #222;
  color: #fff;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease, color 0.5s ease;
  z-index: 1;
}
.viajes__section .viajes__article .list__container .article__list .list__item {
  padding: 0 1rem 0.8rem;
}
.viajes__section .viajes__article .list__container .article__list .list__item .cot {
  color: brown;
}
.viajes__section .viajes__article .list__container .article__list .list__item .copsa {
  color: blue;
}
.viajes__section .viajes__article .list__container .article__list .list__item .rutas-sol {
  color: rgb(167, 167, 1);
}
.viajes__section .viajes__article .list__container .article__list .list__item .price {
  color: green;
}

.redes__hover:hover {
  color: #fff;
  background-color: #666;
  border-radius: 4px;
}

.ir-arriba__hover:hover {
  color: #fff;
  background-color: #666;
  border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
}
@media (max-width: 768px) {
  html {
    scroll-padding-top: 4rem;
  }
}

.disclaimer {
  display: none;
}

/*# sourceMappingURL=style.css.map */
