%avisitar__paragraph {
    line-height: 1.5rem;
    text-align: justify;
    align-self: center;
    width: 33%;
    padding-inline: 1rem;

    @media (max-width: 768px) {
      padding: 0 0.5rem 1rem;
      line-height: 1.25rem;
      text-align: justify;
      width: unset;
    }
}

%avisitar__span {
    font-size: 1.5em;
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
}

%avisitar__map {
    border: none;
    border-radius: 10px;
}

$avisitar__img: (
    object-fit: cover,
    border-radius: 10px,
    display: block
);

@mixin avisitar__article($grid-area, $flex-direction, $p-top, $m-bottom) {
    padding-top: $p-top;
    grid-area: $grid-area;
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    flex-direction: $flex-direction;
    margin-bottom: $m-bottom;

    @media (max-width: 768px) {
      display: flex;
      padding: 1.5rem;
      padding-bottom: 0;
      flex-direction: column;
    }
}

.avisitar__section {
    background-color: nth($colors, 4);
    color: nth($colors, 16);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "art1 art1 art1"
      "art2 art2 art2"
      "art3 art3 art3";
    gap: 2rem;

    @media (max-width: 768px) {
      background-color: nth($colors, 4);
      color: nth($colors, 16);
      gap: 0;
    }

    .avisitar__article1 {
      @include avisitar__article(art1, row, 1rem, 0);

      .avisitar__img {
        object-fit: map-get($avisitar__img, object-fit);
        border-radius: map-get($avisitar__img, border-radius);
        display: map-get($avisitar__img, display);

        @media (max-width: 768px) {
          display: none;
        }
      }
      
      .avisitar__paragraph {
        @extend %avisitar__paragraph;
      }
      
      .avisitar__span {
        @extend %avisitar__span;
      }
      
      .avisitar__map {
        @extend %avisitar__map;
      }
    }

    .avisitar__article2 {
      @include avisitar__article(art2, row-reverse, 0, 0);

      .avisitar__img {
        object-fit: map-get($avisitar__img, object-fit);
        border-radius: map-get($avisitar__img, border-radius);
        display: map-get($avisitar__img, display);

        @media (max-width: 768px) {
          display: none;
        }
      }
      
      .avisitar__paragraph {
        @extend %avisitar__paragraph;
      }
      
      .avisitar__span {
        @extend %avisitar__span;
      }
      
      .avisitar__map {
        @extend %avisitar__map;
      }
    }

    .avisitar__article3 {
      @include avisitar__article(art3, row, 0, 1rem);

      .avisitar__img {
        object-fit: map-get($avisitar__img, object-fit);
        border-radius: map-get($avisitar__img, border-radius);
        display: map-get($avisitar__img, display);

        @media (max-width: 768px) {
          display: none;
        }
      }
      
      .avisitar__paragraph {
        @extend %avisitar__paragraph;
      }
      
      .avisitar__span {
        @extend %avisitar__span;
      }
      
      .avisitar__map {
        @extend %avisitar__map;
      }
    }
  }
  

  
  
  
  
 
  
  