.avisitar__section {
    background-color: nth($colors, 4);
    color: nth($colors, 16);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "art1 art1 art1"
      "art2 art2 art2"
      "art3 art3 art3";
    gap: 2rem;
  }
  
  .avisitar__article1 {
    padding-top: 1rem;
    grid-area: art1;
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    flex-direction: row;
  }
  
  .avisitar__article2 {
    grid-area: art2;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    height: fit-content;
  }
  .avisitar__article3 {
    grid-area: art3;
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  
  .derecha {
    flex-direction: row-reverse;
  }
  
  .avisitar__img {
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }
  
  .avisitar__paragraph {
    line-height: 1.5rem;
    text-align: justify;
    align-self: center;
    width: 33%;
    padding-inline: 1rem;
  }
  
  .avisitar__span {
    font-size: 1.5em;
  }
  
  .avisitar__map {
    border: none;
    border-radius: 10px;
  }