%focus__input {
    background-color: nth($colors, 17);
    transition: background-color 0.5s ease;
}

@mixin inputs__fields($margin, $resize, $height) {
    outline: none;
    font-size: 1.1em;
    border: none;
    border-bottom: 1px solid nth($colors, 1);
    margin: $margin;
    resize: $resize;
    height: $height;
};

.contact__section {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contact__title {
      @include section-titles(1.3rem auto)
    }

    .contact__form {
      display: flex;
      flex-direction: column;
      width: 70%;

      @media (max-width: 768px) {
          width: 80%;
      }

      .contact__input {
        @include inputs__fields(1.25rem 0, none, 2rem);

        &:focus {
          @extend %focus__input;
        }
      }

      .contact__textarea {
        @include inputs__fields(0 0 1rem, none, auto);

        &:focus {
          @extend %focus__input;
        }
      }
    }  
  }
  
  
  
  
  
 
  
  
  
 
  
 
  
  
  
  