.contact__section {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .contact__form {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  
  .contact__title {
    font-weight: 700;
    font-size: 2em;
    margin: 1.3rem auto;
  }
  
  .contact__input {
    height: 2rem;
    border: none;
    border-bottom: 1px solid nth($colors, 1);
    margin: 1.25rem 0;
    outline: none;
    font-size: 1.1em;
  }
  
  .contact__input:focus {
    background-color: nth($colors, 17);
    transition: background-color 0.5s ease;
  }
  
  .contact__textarea {
    border: none;
    border-bottom: 1px solid nth($colors, 1);
    margin-bottom: 1rem;
    resize: none;
    outline: none;
    font-size: 1.1em;
  }
  
  .contact__textarea:focus {
    background-color: nth($colors, 17);
    transition: background-color 0.5s ease;
  }
  
  .contact__button {
    background-color: nth($colors, 4);
    border: none;
    padding: 1.125rem;
    align-self: center;
    color: nth($colors, 16);
    border-radius: 5px;
    font-size: 1.125em;
    cursor: pointer;
    margin-bottom: 2.5rem;
  }
  
  .contact__button:hover {
    color: nth($colors, 10);
    transition: color 0.3s ease;
  }
  
  .contact__button:focus {
    transform: translateY(5px);
  }