.redes__hover {
  
  &:hover {
    color: nth($colors, 16 );
    background-color: nth($colors, 7);
    border-radius: 4px;
  }
}
  
  .ir-arriba__hover {

    &:hover {
      color: nth($colors, 16 );
      background-color: nth($colors, 7);
      border-radius: 4px;
    }
  }