.main__section {
  width: 100vw;
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
  height: 85vh;

  @media (max-width: 768px) {
    font-weight: 600;
    padding: 2rem 4rem;
    height: fit-content;
  }
  
  .main__paragraph {
      color: nth($colors, 1);
      width: 50%;
      font-size: 1.3em;
      font-weight: 600;
      background-color: rgba(255, 255, 255, 0.316);
      line-height: 1.7rem;

      @media (max-width: 768px) {
        color: nth($colors, 1);
        width: unset;
        font-size: 1em;
        margin-top: 3rem;
      }
    }
}