.viajes__title {
  display: block;
  text-align: center;
  @include section-titles(1.5rem 0);
}

.viajes__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0;
    padding-bottom: 5rem;
    justify-content: center;

    @media (max-width: 768px) {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
      gap: 2rem;
      padding-bottom: 3rem;
      height: fit-content;
    }

    .viajes__article {
      margin-top: 2.5rem;
      margin-inline: 2rem;
      background-color: nth($colors, 17);
      border-radius: 4px;
      box-shadow: 0 0 5px nth($colors, 8);
      width: 80%;
      justify-self: center;

      @media (max-width: 768px) {
        width: 60%;
        height: fit-content;
      }

      &:hover {
        cursor: default;
        background-color: nth($colors, 3);
        color: nth($colors, 16);
        transform: scale(1.2);
        transition: transform 0.5s ease-in-out, background-color 0.5s ease,
        color 0.5s ease;
        z-index: 1;
      }

      .article__title {
        @extend %article-subtitles;
      }

      .list__container {
        
        .article__list {

          padding-inline: 1rem;

          .list__item {
            padding: 0 1rem .8rem;

            .cot {
              color: brown;
            }

            .copsa {
              color: blue;
            }

            .rutas-sol {
              color: rgb(167, 167, 1);
            }

            .price {
              color: green;
            }
          }
        }
      }
    }
  }
  
  
  
  
  
  
  
  
  