* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

form .mi_outline:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
}

.color__article {
  background-color: #e2e2e2;
}

.ir-arriba-hover:hover {
  color: #fff;
  background-color: #666;
  border-radius: 4px;
}
