* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

/* =============== HEADER =============== */

.main__header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 2px #000;
  z-index: 1000;
  background-color: #fff;
}

/* ============ NAV ============ */

.titulo {
  display: flex;
}

.logo__container {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.main__icon {
  width: 2rem;
  margin-right: 1rem;
}

.logo__link {
  color: #000;
  display: flex;
}

.main__nav {
  display: flex;
  align-items: center;
  width: unset;
}

.nav__list {
  display: flex;
  justify-content: end;
  padding: 1.5rem 0.5rem;
}

.nav__link {
  color: #000;
  padding-inline: 1rem;
  font-size: 1.125em;
  font-weight: 600;
}

.nav__link:hover {
  color: #777;
}

/* ============ NAV END ============ */

/* =============== HEADER END =============== */

/* =============== MAIN SECTION =============== */

.main__section {
  width: 100vw;
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.main__paragraph {
  color: rgb(0, 0, 0);
  width: 50%;
  font-size: 1.3em;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.316);
  line-height: 1.7rem;
}

/* =============== MAIN SECTION END =============== */

/* =============== GALLERY SECTION =============== */

.gallery__section {
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
  height: fit-content;
  width: 100%;
  grid-gap: 2rem;
}

.gallery__img__container {
  object-fit: cover;
  display: grid;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__img__container:nth-child(1) {
  grid-column-start: span 2;
}

.gallery__img__container:nth-child(4) {
  grid-row-start: span 2;
}

.gallery__img__container:nth-child(5) {
  grid-column-start: span 2;
}

.gallery__img__container:nth-child(6) {
  grid-row-start: span 2;
}

.gallery__img__container:nth-child(7) {
  grid-column-start: span 2;
}

.gallery__img__container:nth-child(8) {
  grid-column-start: span 2;
}

.gallery__img__container:nth-child(9) {
  grid-column-start: span 2;
}

/* =============== GALLERY SECTION END =============== */

/* =============== CONTACT SECTION =============== */

.contact__section {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.contact__title {
  font-weight: 700;
  font-size: 2em;
  margin: 1.3rem auto 1rem;
}

.contact__input {
  height: 2rem;
  border: none;
  border-bottom: 1px solid #000;
  margin: 2rem 0;
  outline: none;
  font-size: 1.1em;
}

.contact__input:focus {
  background-color: #efefef;
  transition: background-color 0.5s ease;
}

.contact__textarea {
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
  resize: none;
  outline: none;
  font-size: 1.1em;
}

.contact__textarea:focus {
  background-color: #efefef;
  transition: background-color 0.5s ease;
}

.contact__button {
  background-color: #333;
  border: none;
  padding: 1.125rem;
  align-self: center;
  color: #fff;
  border-radius: 5px;
  font-size: 1.125em;
  cursor: pointer;
  margin-bottom: 2.5rem;
}

.contact__button:hover {
  color: #999;
  transition: color 0.3s ease;
}

/* =============== CONTACT SECTION END =============== */

/* =============== A VISITAR SECTION =============== */

.avisitar__section {
  background-color: #333;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "art1 art1 art1"
    "art2 art2 art2"
    "art3 art3 art3";
  gap: 2rem;
}

.avisitar__article1 {
  padding-top: 1rem;
  grid-area: art1;
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  flex-direction: row;
}

.avisitar__article2 {
  grid-area: art2;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  height: fit-content;
}
.avisitar__article3 {
  grid-area: art3;
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  flex-direction: row;
}

.derecha {
  flex-direction: row-reverse;
}

.avisitar__img {
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.avisitar__paragraph {
  line-height: 1.5rem;
  text-align: justify;
  align-self: center;
  width: 33%;
  padding-inline: 1rem;
}

.avisitar__span {
  font-size: 1.5em;
}

.avisitar__map {
  border: none;
  border-radius: 10px;
}

/* =============== A VISITAR SECTION END =============== */

/* =============== VIAJES SECTION =============== */

.viajes__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
  padding-bottom: 5rem;
  justify-content: center;
}

.viajes__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 2.2em;
  padding: 1.5rem 0;
}

.viajes__article {
  margin-top: 2.5rem;
  margin-inline: 2rem;
  background-color: #efefef;
  border-radius: 4px;
  box-shadow: 0 0 5px #777;
  width: 80%;
  justify-self: center;
}

.viajes__article:hover {
  cursor: default;
  transform: scale(1.2);
  transition: transform 0.5s ease;
  z-index: 1;
}

.article__title {
  text-align: center;
  padding: 0.8rem;
  font-size: 1.7em;
  padding-bottom: 1.5rem;
}

.list__item {
  padding-inline: 1rem;
  padding-bottom: 0.8rem;
}

/* =============== VIAJES SECTION END =============== */

/* =============== FOOTER =============== */

.footer {
  display: block;
  background-color: #333;
}

.footer__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__redes {
  display: flex;
  margin-inline: 1.5rem;
  align-self: center;
}

.link__redes {
  display: block;
  margin-inline: 2rem;
}

.icon__redes {
  display: block;
  width: 2.3rem;
}

.icon__redes:hover {
  color: #fff;
  background-color: #666;
  border-radius: 4px;
}

.footer__link {
  color: #fff;
  font-size: 1.25em;
  font-weight: 500;
  margin: 1.5rem;
  padding: 0.7rem;
}

.footer__link:hover {
  color: #fff;
  background-color: #666;
  border-radius: 4px;
}

/* =============== FOOTER END =============== */

/* =============== MEDIAS 1024px 768px 480px =============== */
/* DESKTOP - 1024+px | NOTEBOOK-TABLET - 768+px | MOBILE - 480px */

/* =============== MAX-WIDTH: 1024px =============== */

@media (max-width: 1024px) {
  /* ====== GALLERY SECTION ====== */

  .gallery__img__container:nth-child(1) {
    grid-column-start: span 1;
  }

  .gallery__img__container:nth-child(2) {
    grid-column-start: span 2;
  }

  .gallery__img__container:nth-child(4) {
    grid-row-start: span 1;
  }

  .gallery__img__container:nth-child(5) {
    grid-column-start: span 1;
  }

  .gallery__img__container:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }

  .gallery__img__container:nth-child(7) {
    grid-column-start: span 2;
  }

  .gallery__img__container:nth-child(8) {
    grid-column-start: span 1;
  }

  .gallery__img__container:nth-child(9) {
    grid-column-start: span 1;
  }

  /* GALLERY SECTION END */
}

/* =============== MAX-WIDTH: 1024px END =============== */

/* =============== MAX-WIDTH: 768px =============== */

@media (max-width: 768px) {
  /* ====== HTML STYLES ====== */

  html {
    scroll-padding-top: 0;
  }

  /* ====== HTML STYLES END ====== */

  /* ====== HEADER STYLES ====== */

  .main__header {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    box-shadow: 0 0 2px #000;
  }

  /* === NAV STYLES === */

  .main__nav {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .logo__link {
    display: none;
  }

  .nav__link {
    color: #000;
    font-weight: 600;
    font-size: 1em;
  }

  /* === NAV STYLES END === */
  /* ====== HEADER STYLES END ====== */

  /* ====== MAIN STYLES ====== */

  .main__section {
    font-weight: 600;
    padding: 2rem 4rem;
    height: fit-content;
  }

  .main__paragraph {
    color: #000;
    width: unset;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.316);
  }

  /* ====== MAIN STYLES END ====== */

  /* ====== GALLERY STYLES ====== */

  .gallery__section {
    grid-gap: 1rem;
  }

  .gallery__img__container:nth-child(1) {
    grid-column-start: span 1;
  }

  .gallery__img__container:nth-child(2) {
    grid-column-start: span 1;
  }

  .gallery__img__container:nth-child(3) {
    grid-column-start: span 2;
  }

  .gallery__img__container:nth-child(4) {
    grid-row-start: span 2;
  }

  .gallery__img__container:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }

  .gallery__img__container:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }

  .gallery__img__container:nth-child(7) {
    grid-column-start: span 2;
  }

  .gallery__img__container:nth-child(8) {
    grid-column-start: span 2;
  }

  .gallery__img__container:nth-child(9) {
    grid-column-start: span 2;
  }

  /* ====== GALLERY STYLES END ====== */

  /* ====== VIAJES STYLES ====== */

  .viajes__section {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-bottom: 3rem;
  }

  .viajes__article {
    width: 60%;
  }

  /* ====== VIAJES STYLES END ====== */

  /* ====== A VISITAR STYLES ====== */

  .avisitar__section {
    background-color: #333;
    color: #fff;
    gap: 0;
  }

  .avisitar__img {
    display: none;
  }

  .avisitar__paragraph {
    padding: 0 0.5rem 1rem;
    line-height: 1.25rem;
    text-align: justify;
    width: unset;
  }

  .avisitar__article1,
  .avisitar__article2,
  .avisitar__article3 {
    display: flex;
    padding: 1.5rem;
    padding-bottom: 0;
    flex-direction: column;
  }

  /* ====== A VISITAR STYLES END ====== */

  /* ====== CONTACT STYLES ====== */

  .contact__section {
    align-items: flex-start;
    padding-bottom: 4rem;
  }

  /* ====== CONTACT STYLES END ====== */

  /* ====== FOOTER STYLES ====== */

  .footer {
    background-color: #333;
    display: none;
  }

  /* ====== FOOTER STYLES END ====== */
}

/* =============== MAX-WIDTH: 768px END =============== */

/* =============== MAX-WIDTH: 480px =============== */
@media (max-width: 480px) {
  /* ====== NAV STYLES ====== */

  .main__header {
    z-index: 1000;
  }

  .nav__list {
    padding: 1.5rem 0;
  }

  .nav__link {
    padding-inline: 0.5rem;
    font-size: 0.9em;
  }

  /* ====== NAV STYLES END ====== */

  /* ====== GALLERY SECTION ====== */

  .gallery__section {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    padding: 2.5rem;
    gap: 0;
    object-fit: cover;
  }

  .gallery__img {
    width: 100%;
    padding: 10px;
  }

  .gallery__img__container:nth-child(4) {
    display: none;
  }

  .gallery__img__container:nth-child(5) {
    display: none;
  }

  .gallery__img__container:nth-child(9) {
    display: none;
  }

  /* ====== GALLERY SECTION END ====== */
}

/* =============== MAX-WIDTH: 480px END =============== */

/* =============== ANIMATIONS =============== */

.main__p__span {
  animation: changeColor 2.5s;
  animation-iteration-count: infinite;
  font-size: 1.25em;
}

@keyframes changeColor {
  from {
    color: #000;
  }

  25% {
    color: red;
  }

  50% {
    color: rgb(60, 0, 255);
  }

  75% {
    color: green;
  }

  to {
    color: #000;
  }
}

.anim {
  position: absolute;
  top: 0;
  left: 0;
  animation: mover 10s infinite;
}

.anim2 {
  position: absolute;
  top: 50vh;
  left: 0;
  animation: mover 10s infinite;
  animation-delay: 1s;
}

.anim__img {
  width: 2rem;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(110px);
  }

  40% {
    transform: translateX(90vw) translateY(110px);
  }

  60% {
    transform: translateY(220px) translateX(90vw);
  }

  80% {
    transform: translateX(0) translateY(220px);
  }

  100% {
    transform: translateY(0);
  }
}
